
.main-content {
    padding: 20px;
}

.order-history {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;        
    min-width: 200px;
}

.order-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.order-item h3 {
    margin: 0 0 5px;
    font-size: 18px;
}

.order-item p {
    margin: 3px 0;
    font-size: 15px;
}

.verkauf-wrapper {
  display: flex;
  gap: 1%;           
  align-items: flex-start;
}

.verkauf-overview {
  width: 29%;      
  min-width: 120px;
  background: rgb(255, 246, 236);
  border-radius: 26px;
  box-shadow: 0 4px 16px #0001;
  padding: 18px;
}

/*Der Schöne geklaute Knopf https://codepen.io/avvign/pen/NVJzQW/ */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: rgb(176, 11, 14);
    color: #111;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

:focus {
  outline: 3px solid #ff7300;
  outline-offset: 2px;
}